{% extends "layout/main.twig" %}

{% block content %}



    <div class="content">
        <div class="services mt-sm-6 mt-5">
            <h2>Услуги</h2>

            <div class="services-group">
                <div class="row align-items-md-center">
                    <div class="col-md-6 order-md-1 order-2">
                        <div class="services-text">
                            <h3>Грузоперевозки товаров и топлива</h3>
                            <p>Перевозки тентованными фурами, рефрижераторами, термосами, цистернами. Перевозка
                                негабаритных грузов.</p>
                            <button class="btn2">
                                <a href="#">Подробнее об услуге</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-2 order-1">
                        <div class="services-img">
                            <img src="/img/index/s_2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="services-group services_justify">
                <div class="row align-items-md-center">
                    <div class="col-md-6">
                        <div class="services-img">
                            <img src="/img/index/s_3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="services-text services_textLeft">
                            <h3>Аренда спецтехники</h3>
                            <p>Техника для погрузки/разгрузки. Автотранспорт различной грузоподъемности. Спецтехника для
                                грузоперевозок.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services-group">
                <div class="row align-items-md-center">
                    <div class="col-md-6 order-md-1 order-2">
                        <div class="services-text">
                            <h3>Ответственное хранение и аренда склада</h3>
                            <p>Собственные склады 50 400 м² в трех городах. Учет и контроль. Упаковка и фасовка.</p>
                            <button class="btn2">
                                <a href="#">Подробнее об услуге</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-2 order-1">
                        <div class="services-img">
                            <img src="/img/index/s_4.jpg" alt="">
                        </div>
                    </div>
                </div>


            </div>

            {% include "block/slider.twig" %}

            <div class="services-description mt-md-12 mt-sm-6 mt-5">
                <div class="services-descriptionText">
                    <h2>Почему мы</h2>
                    <p>Каждое складское помещение оснащено необходимым оборудованием для поддержания оптимального
                        температурного режима для хранения различных категорий товаров.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-12 mt-md-0 mt-2">
                        <h4>Сокращаем сроки </h4>
                        <p>Доставим ваш груз как можно быстрее. Мы работаем круглосуточно без выходных и праздников,
                            отправляем и принимаем грузы даже ночью.</p>
                    </div>
                    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
                        <h4>Работаем ответственно </h4>
                        <p>Ваш груз дойдет до получателя в полной сохранности. Застрахуем ценный груз, чтобы вы были
                            спокойны.</p>
                    </div>

                    <div class="col-lg-6 col-12 mt-2">
                        <h4>Беремся за сложные задачи </h4>
                        <p>У нас разный транспорт и спецтехника, мы возим любые грузы по России и странам СНГ.</p>
                    </div>

                    <div class="col-lg-6 col-12 mt-2">
                        <h4>У нас удобная форма оплаты </h4>
                        <p>НДС, без НДС или наличные. Работаем по предоплате, постоплате или в рассрочку.</p>
                    </div>
                </div>
            </div>

            <div class="services-partners mt-md-12 mt-sm-6 mt-5">
                <h2>Наши партнеры</h2>
                <div class="row mt-sm-4 mt-2">
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_1.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_2.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_3.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_4.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_5.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_6.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_7.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_8.png" alt="">
                    </div>
                    <div class="col-lg-4 col-6">
                        <img src="/img/partners/p_9.png" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="contentBanner mt-md-12 mt-5">
        <div class="contentBanner-content">
            <div class="contentBanner-img">
                <img src="/img/index/i_3.jpg" alt="">
            </div>
            <div class="contentBanner-title">
                <div class="contentBanner-text">
                    <h1>Strategic<br> holding<br> company</h1>
                    <p>Ваш надежный стратегический партнер</p>
                </div>
            </div>
        </div>

    </div>

    <div class="content">
        <div class="services-p d-sm-none d-block">
            <p>Ваш надежный стратегический партнер</p>
        </div>




    </div>
{% endblock %}