@import "bootstrap";



h1, .h1 {
	font-weight: bold;
	font-size: clamp(36px, 7vw, 70px);
	line-height: 130%;
}

p, .text {
	font-size: clamp(16px, 4vw, 18px);
	line-height: 160%;
	font-style: normal;
}
