@import "../sprite";
@import "../misc/bootstrap";


.copyright {
	border-top: 1px solid #373737;
	margin-top: 100px;

	@include media-max(md) {
		margin-top: 70px;
	}
}

.copyright-content {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;

	@include media-max(md) {
		flex-direction: column;
	}
}

.copyright-item {
	a {
		font-size: rem(13px);
		color: white;
		text-decoration: none;
		margin-top: 10px;
		display: inline-block;
	}

	p {
		font-size: rem(13px);
		margin-bottom: 0;
	}

	@include media-max(md) {
		margin-top: 45px;
	}
}

.copyright-link {
	display: flex;
	align-items: center;

	a {
		font-size: rem(13px);
		margin-left: 10px;
		color: white;
		text-decoration: none;
		margin-top: 0;
	}

	p {
		font-size: rem(13px);
		margin: 0;
	}
}

.copyright-link + .copyright-link {
	margin-top: 15px;
}

.copyright-site {
	margin-top: 70px;
	display: flex;
	justify-content: flex-end;

	p {
		font-size: rem(13px) !important;

		a {
			color: white;
			text-decoration: none;
			border-bottom: 1px solid rgba(#fff, .2);
			padding-bottom: 1px;

			&:hover {
				border-bottom: 1px solid rgba(#fff, 1);
			}
		}
	}

	@include media-max(md) {
		margin-top: 10px;
		justify-content: flex-start;
	}
}

