@import "../sprite";
@import "../misc/bootstrap";

.header {
	max-width: 800px;
	width: 94%;
	position: relative;
	margin: 70px auto 0;
	z-index: 999;

	img{
		width: 100%;
		object-fit: cover;
		min-height: 100%;
	}

	@include media-max(lg){
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
	}
}
