@import "../sprite";
@import "../misc/bootstrap";

.mobileMenu-burger {
	button {
		position: relative;
		display: flex;
		font-weight: 500;
		font-family: 'Manrope';
		font-size: 14px;
		align-items: center;
	}
}

.mobileMenu-price {
	ul {
		padding: 40px 0 0 75px;
		margin: 0;

		li {
			color: #ff0e00;
			list-style: square;

			a {
				text-decoration: none;
				color: white;

				&:hover {
					color: #ff0e00;
					transition: all .2s;
				}
			}
		}
	}
}